<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="OrangeHRM.TC0001"/>
      <class name="OrangeHRM.TC0010"/>
      <class name="OrangeHRM.TC0005"/>
      <class name="OrangeHRM.TC0004"/>
      <class name="OrangeHRM.TC0003"/>
      <class name="OrangeHRM.TC0002"/>
      <class name="OrangeHRM.TC0009"/>
      <class name="OrangeHRM.TC0008"/>
      <class name="OrangeHRM.TC0007"/>
      <class name="OrangeHRM.TC0006"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
